
.main{
	width:305px;
	text-align:center;
	margin:0 auto;
	border:2px solid #d7d7d7;
	border-bottom:0px;
	margin-top:20px;
	font-family:sans-serif;
	background-color: #d8d8d8;
}

h2{
	background-color: #5c8297;
	text-align:center;
	padding:5px 0px;
	margin-top:0px;
	color:white;
}

.addText{
	position:relative;
	height: 35px;
	padding: 5px:;
	font-size: 20px;
}

.addItem button{
	height:20;
	width: 50px;
	padding: 5px;
}

ul{
	list-style:none;
	font-size: 20px;
	color:#686868;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 245px;
}
li{
	bottom:1px solid #bfbfbf;
	background-color: #bfbfbf;
	padding:5px 0px;
	margin-bottom: 5px;
	align-items: center;
}
span{
	cursor: pointer;
	position: relative;
	float: right;
	margin-right: 10px;
}