<h2>Member Details</h2>
<input type="checkbox" [checked]="checkbox1" /> Please disable


<div *ngIf ="isTrue; then firstTemplate else secondTemplate"> Display me</div>
<ng-template #firstTemplate >My First Template </ng-template>
<ng-template #secondTemplate >My Second Template </ng-template>
<hr>
<h2>Add Membership</h2>

<hr><b>Template Driven Form :</b>
<form class ="container" 
	#userForm="ngForm" 
	(ngSubmit)="addUser(userForm.value)" >
	<div class="row">
		<div class="col-md-2" >Name </div><div class="col-md-3" >
			<input placeholder="Name" type="text" name="name" ngModel>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" >Address </div><div class="col-md-3" >
			<input placeholder="Address" type="text" name="address" ngModel>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" >Country </div>
		<div class="col-md-3" >
			<select name ="country" ngModel>
				<option value="India">India</option>
				<option value="America">America</option>
				<option value="Pakistan">Pakistan</option>
				<option value="China">China</option>
			</select>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-5" ><input type="submit" value="submit"> </div>
	</div>

</form>

<hr><b>Model Driven Form :</b>
<form class ="container" 
	[formGroup]="myForm"
	(ngSubmit)="addMembership(myForm.value)" >
	<div class="row">
		<div class="col-md-2" >Membersip Id </div>
		<div class="col-md-3" >
			<input placeholder="Membersip Id" type="text" name="memberid" 
			formControlName="memberid">
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" >Member Bank </div>
		<div class="col-md-3" >
			<input placeholder="Member Bank" type="text" name="memberbank" 
			formControlName="memberbank" >
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" >Account Type </div>
		<div class="col-md-3" >
			<select name ="accounttype" formControlName="accounttype">
				<option value="savings">Savings</option>
				<option value="current">Current</option>
				<option value="creditcard">Credit Card</option>
				<option value="debitcard">Debit Card</option>
			</select>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-5" ><input type="submit" value="submit"> </div>
	</div>

</form>

